[submodule "specs/openagents/source"]
	path = specs/openagents/source
	url = https://github.com/darrenhinde/OpenAgentsControl.git
[submodule "specs/openagentscontrol/source"]
	path = specs/openagentscontrol/source
	url = https://github.com/darrenhinde/OpenAgentsControl.git
[submodule "specs/oh-my-opencode/source"]
	path = specs/oh-my-opencode/source
	url = https://github.com/code-yeongyu/oh-my-opencode.git
[submodule "specs/platform-sre-agents/source"]
	path = specs/platform-sre-agents/source
	url = git@github.com:corabank/platform-sre-agents.git
