[submodule "specs/open-native"]
	path = specs/open-native
	url = git@github.com:open-native/ai-opencode-config
[submodule "specs/platform-sre-agents"]
	path = specs/platform-sre-agents
	url = git@github.com:corabank/platform-sre-agents
